@mixin Montserrat ($fontW, $fontS, $lh) {
    font-size: $fontS;
    font-weight: $fontW;
    line-height: $lh;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
@mixin Mulish ($fontW, $fontS, $lh) {
    font-size: $fontS;
    font-weight: $fontW;
    line-height: $lh;
    font-family: "Mulish", sans-serif;
    color: #fff;
}