@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000&display=swap');

body {
    background-color: #131313;
    margin: 0;
    max-width: 1920px;

    @media only screen and (max-width: 768px ) {
        overflow-x: hidden;
        overscroll-behavior-x: none;
    }
}  
ul {
    list-style: none;
}
.btn-primary {
    background-color: #C2AB81;
    border: none;
    transform: skew(165deg);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    padding: 21px 78px; 
    @include Montserrat(700, 12px, 18px);
    width: 282.5px;
    height: 60px;
    position: relative;

    @media only screen and (max-width: 768px ) {
        width: 200px;
        padding: 20px 36px;
    }
    
    .btn-primary__text {
        transform: skew(-165deg);
    }
    &:hover {
        background-color: #c09f64;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 102%;
        width: 6px;
        background-color: #fff;
        transform: skew(180deg);
        height: 60px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    gap: 240px;
    align-items: center;
    padding: 28px 100px;
    max-width: 1720px;
    position: relative;

    .header__menu {
        cursor: pointer;
    }

    .burger {
        display: none;
        z-index: 2;
        background-color: #131313;
        transition: left 0.4s ease;

        &.active {
            left: 0;
            overflow: hidden;
        }

        @media only screen and (max-width: 768px ) {
            position: absolute;
            top: 117px;
            left: -100%;
            display: block;
            width: 100%;
            height: 914px;
        }
        @media only screen and (max-width: 376px ) {
            margin-top: -38px;

        }


        
        .burger__list {
            padding: 0px 381px 387px 49px;
            @include Montserrat(700, 36px, 54px);
            color: #131313;
            text-shadow: 
            -1px -1px 0 #808080,  
            1px -1px 0 #808080,
            -1px 1px 0 #808080,
            1px 1px 0 #808080;

            @media only screen and (max-width: 376px ) {
                @include Montserrat(700, 20px, 30px);
                padding: 0px 155px 198px 18px;
                color: #131313;
                text-shadow: 
                -1px -1px 0 #808080,  
                1px -1px 0 #808080,
                -1px 1px 0 #808080,
                1px 1px 0 #808080;
                
                margin-top: 0px;
                
            }

            .burger__item {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    @media only screen and (max-width: 768px ) {
        gap: 90px;
        padding: 28px 50px;
    }
    @media only screen and (max-width: 376px ) {
        padding: 20px 15px;
        width: 100%;
    }

    .header__menu {
        display: none;
        @media only screen and (max-width: 768px ) {
            display: block;
        }
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
        gap: 76px;
        align-items: center;

        @media only screen and (max-width: 376px ) {
            gap: 188px;
            
        }
        
        .header__logo {
            @media only screen and (max-width: 376px ) {
                width: 112px;
                height: 38px;
                
            }
        }

        .header__list {
            display: flex;
            justify-content: space-between;
            gap: 42px;
            align-items: center;
            padding-left: 0;
            @include Montserrat(700, 14px, 21px);
            
        @media only screen and (max-width: 768px ) {
            display: none;
            
        }

            .header__item {
                cursor: pointer;
                transition: 0.3s;
                max-height: 21px;
                &:hover {
                    color: #C2AB81;
                }
            }
        }
    }
    .header-application {
        display: flex;
        justify-content: space-between;
        gap: 12.5px;
        align-items: center;
        transition: left 0.4s ease;

        @media only screen and (max-width: 376px ) {
            position: absolute;
            top: 450px;
            z-index: 8;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: -150%;
        }
        
        .header__button {
            @media only screen and (max-width: 376px ) {
                width: 320px;
                display: flex;
                justify-content: center;
                margin-left: 4px;
                

                &::after {
                    display: none;
                }
            }

        }

        .header-application__phone {
            opacity: 0.4;
            border: 1px #fff solid;
            transform: skew(165deg);
            max-height: 60px;
            margin-right: 20px;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                opacity: 0.8;
            }
            @media only screen and (max-width: 768px ) {
                margin-right: -5px;
            }
            @media only screen and (max-width: 376px ) {
                width: 320px;
                display: flex;
                justify-content: center;
                margin-left: 4px;
            }
            

            .header-application__icon {
                padding: 20px 30px;
                height: 20px;
                width: 20px;
                transform: rotate(-10deg)
            }
        }   
    }
}
.main {
    background: linear-gradient(to top, #131313 0%, rgba(19, 19, 19, 0) 35%), url(../img/planet.png) 50% 0% / cover no-repeat;
    width: 100%;
    height: 959px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 134px;

    @media only screen and (max-width: 376px ) {
        height: 495px;
        width: 100%;
    }
    .main-news {
        padding: 598px 1134px 96px 100px;

        @media only screen and (max-width: 768px ) {
            padding: 551px 32px 76px 49px;
        }
        @media only screen and (max-width: 376px ) {
            padding: 266px 0px 52px 14px;
        }

        .main__button {
            max-width: 228px;
            margin-left: 14px;
        }

        .main-news__title {
            @include Montserrat(700, 42px, 51.2px);
            text-transform: uppercase;
            margin-bottom: 40px;

            @media only screen and (max-width: 376px ) {
                @include Montserrat(700, 20px, 24px);
                margin-bottom: 20px;
                max-width: 255px;
            }
    
        }
        .main-news__subtitle {
            @include Montserrat(400, 16px, 24px);
            margin-bottom: 40px;
            opacity: 0.6;
            @media only screen and (max-width: 376px ) {
                @include Montserrat(400, 14px, 21px);
                margin-bottom: 20px;
                max-width: 293px;
                opacity: 79%;
            }
        }
    }
}

.cards {
    padding: 0 100px;

    @media only screen and (max-width: 768px ) {
        padding: 0 40px;
    }

    @media only screen and (max-width: 376px ) {
        padding: 0 15px;
    }
}
    .cards__title {
        @include Montserrat(700, 42px, 51.2px);
        margin-bottom: 53px;
        @media only screen and (max-width: 376px ) {
            @include Montserrat(700, 20px, 24px);
            margin-bottom: 30px;
        }
    }
    .cards-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        margin-bottom: 60px;

        @media only screen and (max-width: 768px ) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 376px ) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
        .cards-grid__item {
            background-color: #fff;
            width: 320px;
            box-shadow: 0px 3px 10px 0px #00000014;

            
        }
            .cards-grid__img {
                margin-top: -1px;         
                width: 320.5px;
                height: 185px;           
            }
            .cards-grid__item-wrap {
                padding: 0 23.71px;
            }
                .cards-grid__heading {
                    margin-top: 15px;
                    @include Mulish(700, 14px, 26px);
                    color: $subblack;
                    letter-spacing: 1.5px;
                }
                .cards-grid__subheading {
                    margin-top: 20px;
                    @include Montserrat(450, 16px, 23px);
                    color: $subblack;
                    width: 252px;
                    height: 52px;
                    
                }
                .cards-grid__text {
                    margin-top: 20px;
                    @include Montserrat(400, 14px, 24px);
                    color: $subblack;
                    width: 272px;
                    height: 144px;
                    
                }
                .cards-grid__author {
                    @include Montserrat(400, 12px, 24px);
                    color: #666666;
                    .cards-grid__author-strong {
                        font-weight: 700;
                    }
                }
                .cards-grid__button {
                    margin-top: 25px;
                    border: none;
                    background-color: $subblack;
                    cursor: pointer;
                    transition: 0.4s;
                    margin-bottom: 30px;
                    
                    &:hover {
                        background-color: #353535;
                    }
                }

                    .cards-grid__button-text {
                        @include Mulish(500, 12px, 17px);
                        padding: 16px 80px;
                        max-width: 113px;
                    }
                
    .cards__button {
        margin: 0px 826px 256px 710px;

        @media only screen and (max-width: 768px ) {
            margin: 0px 237px 156px 226px;
        }
        @media only screen and (max-width: 376px ) {
            margin: 0px 33px 43px 33px;
        }
    }



    
